<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Editar Producto</title>
</head>
<body>
    <div class="container mt-4">
        <h2>Editar Producto</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
            <a href="{% url 'index' %}" class="btn btn-secondary btn-block mt-2">Volver al Inicio</a>
        </form>
    </div>
</body>
</html>
