{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Resultado del Registro</title>
</head>
<body class="bg-light d-flex justify-content-center align-items-center vh-100">
    <div class="container p-4 bg-white rounded shadow-sm" style="max-width: 500px;">
        <h2 class="text-center">Resultado del Registro</h2>
        <p><strong>Código:</strong> {{ producto.codigo }}</p>
        <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
        <p><strong>Marca:</strong> {{ producto.marca }}</p>
        <p><strong>Fecha de Vencimiento:</strong> {{ producto.fecha_vencimiento }}</p>
        <a href="{% url 'index' %}" class="btn btn-primary btn-block mt-4">Volver a la lista de productos</a>
    </div>
</body>
</html>
